.todoinput {
  display: flex;
  gap: 10px;
}

.todoinput > input {
  flex: 1;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.todoinput > input:focus {
  outline: none;
}

.todoinput > button {
  background-color: #cdb4db;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}